div.st-emotion-cache-1xw8zd0 
{
    background-color: #FFAFCC;
    border: 3px solid white;
    box-shadow: -10px 10px 2px 1px rgba(0, 0, 0, 0.2);

}
span.st-emotion-cache-10trblm
{
    text-align: center;
    text-shadow: 2px 4px 4px rgba(132, 87, 230, 0.6);
    font-size: 50px;
}
section.st-emotion-cache-uf99v8
{
    background-color: #CDB4DB;
    padding-bottom:50px;
}
button.st-emotion-cache-19rxjzo
{
    padding-top: 8px;
    padding-right: 10px;
    padding-bottom: 8px;
    padding-left: 10px;
}
button.st-emotion-cache-19rxjzo:hover
{
    transition: 0.11s;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    
}
p
{
    font-size: 15px;
}

input.st-be st-bg st-c1 st-c2 st-c3 st-c4 st-c5 st-c6 st-c7 st-c8 st-c9 st-ca st-b9 st-cb st-cc st-cd st-ce st-cf st-cg st-ch st-ci st-ae st-af st-ag st-cj st-ai st-aj st-c0 st-ck st-cl st-cm
{
    background-color: white;
}